@model Sah.Models.LocalPasswordModel

<h3>Promjena lozinke</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Promjena lozinke</legend>
        <ol>
            <li>
                <h5>Stara lozinka</h5>
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                <h5>Nova lozinka</h5>
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                <h5>Potvrdi lozinku</h5>
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Change password" />
    </fieldset>
}
